<!DOCTYPE html>
<html>
    <head>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about_style.css') }}">
        <title>TradeWire | About</title>
    </head>
    <body>
        <div id ="main_text">
            <p> TradeWire uses <a href = https://en.wikipedia.org/wiki/Latent_Dirichlet_allocation >LDA</a> to do document similarity between a 
                submitted article and our database of companies. Currently the textual information we have about companies comes from 
                the "Business" and "Risk Factors" sections of their <a href = https://en.wikipedia.org/wiki/Form_10-K>10-K</a> form. </p>
        </div>
    </body>
</html>


